{% extends "base.html" %}
{% block content %}

<h2>Welcome, {{ current_user.email }} 👋</h2>
<hr>

<div class="mb-4">
    <a href="{{ url_for('add_snippet') }}" class="btn btn-primary">
        Add Code Snippet
    </a>
</div>
<form method="GET" class="row g-2 mt-3 mb-4">
    <div class="col-md-5">
        <input type="text"
               name="search"
               class="form-control"
               placeholder="Search by title...">
    </div>

    <div class="col-md-4">
        <select name="language" class="form-select">
            <option value="">All Languages</option>
            <option value="python">Python</option>
            <option value="java">Java</option>
            <option value="c++">C++</option>
        </select>
    </div>

    <div class="col-md-3">
        <button class="btn btn-dark w-100">
            Search
        </button>
    </div>
</form>

{% if snippet_data %}
    <div class="row">
        {% for item in snippet_data %}
    {% set snippet = item.snippet %}

    <div class="col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">

                <h5>{{ snippet.title }}</h5>

                {% if item.avg_rating %}
                    <span class="badge bg-success">
                        ⭐ {{ "%.1f"|format(item.avg_rating) }}/10
                    </span>
                {% else %}
                    <span class="badge bg-secondary">
                        No Reviews
                    </span>
                {% endif %}

                <p class="mt-2">
                    <strong>Language:</strong> {{ snippet.language }}
                </p>

                <pre class="bg-light p-2">
{{ snippet.code[:100] }}...
                </pre>

                <a href="{{ url_for('edit_snippet', snippet_id=snippet.id) }}"
                   class="btn btn-sm btn-warning mt-2">
                    Edit
                </a>

                <a href="{{ url_for('delete_snippet', snippet_id=snippet.id) }}"
                   class="btn btn-sm btn-danger mt-2"
                   onclick="return confirm('Are you sure?');">
                    Delete
                </a>

                <a href="{{ url_for('review_snippet', snippet_id=snippet.id) }}"
                   class="btn btn-sm btn-info mt-2">
                    Review with AI
                </a>

            </div>
        </div>
    </div>

{% endfor %}
    </div>
{% else %}
    <p>No snippets yet. Add one!</p>
{% endif %}

{% endblock %}